.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid #464646;
  padding: 20px;
  width: 100%;
}
.Card h2 {
  font-size: 20px;
}
.Card p {
  color: #909090;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
}

@media screen and (max-width: 499px) {
  .container-cards {
    flex-direction: column;
  }
  .Card {
    max-width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .container-cards {
    flex-direction: column;
  }
  .Card {
    max-width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Card {
    max-width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .Card {
    max-width: 30%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1700px) {
  .Card {
    width: 20%;
    max-width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1980px) {
  .Card {
    width: 20%;
    max-width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
