.secao-banner {
    width:100%;
    display:flex;
    flex-direction: row;
    display: grid;
    grid: auto / 50% 50%;
}
.content-technology {
    display: flex;
    align-items: flex-start ;
    flex-direction: column; 
    justify-content: center;
    font-family: 'Poppins' sans-serif;
    background-color: #fafbfc;   
    color: #022144;
    font-size:35px;
}
.content {
    margin-left: 25px;
}
.content-image {
    display: block;
   

}
.secao-banner p:first-child {
    font-size:7px;
}
.secao-banner p:last-child {
    font-weight: bolder;
}
@media screen and (max-width:499px) {
 .content-image{
        
        display: none;
    }
    .secao-banner {
        grid: auto / 100%;
        text-align: center;
    };
    .content-technology {
        background-color: white;
    }
    
}