header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header div img {
  width: 35px;
  margin: 5px 5px 5px 5px;
  height: 35px;
}

.cor-escuro {
  color: white;
}
header div .botao {
  border: 1px solid #747272;
  border-radius: 20px;
  background-color: #fff;
  padding: 7px;
  cursor: pointer;
}

.logo {
  width: 35px;
  height: 30px;
}
@media screen and (max-width: 499px) {
  footer p:first-of-type {
    width: 80%;
  }
}
