footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.copyright {
  border-top: 1px solid #464646;
  width: 100%;
  text-align: center;
  padding: 20px;
}
footer div:nth-child(3) {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 80px 0px;
}
footer p:first-of-type {
  width: 30%;
  text-align: center;
  margin-top: 20px;
  color: #909090;
}
footer img {
  width: 35px;
  margin: 5px;
}
.Logo {
  margin-top: 20px;
}
span {
  color: green;
}
@media screen and (max-width: 499px) {
  footer p:first-of-type {
    width: 80%;
  }
}
