.secao-experiencia-trabalho {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #909090;
}
.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-text h2 {
  margin-bottom: 30px;
}
.content-text p {
  font-family: "Poppins", sans-serif;
  color: #8a8fa3;
  width: 100%;
  max-width: 40%;
}
h2 {
  font-size: 35px;
  color: #32333c;
}
.container-secao {
  background-color: #f4f4f4;
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .content-text h2::after {
    left: 45vw;
  }
  @media screen and (min-width: 500px) and (max-width: 768px) {
    .content-text h2::after {
      left: 45vw;
    }
  }
}
